<% include ./nav_admin %>

<h1>Users'Controls</h1>

<p><%= Nb_users %> numbers of persons use this app</p>
<p>scroll down to get users'details and permissions</p>

<form action="/admin/usersPC/search" method=post>
<label for="search_user">Search for a particular user:</label>
<input type="search" id="search_user" name="user_firstname">

<button>Search</button>
</form>

<% if ( Users !==[] ){ %>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>firstname</th>
            <th>email</th>
            <th>password</th>
            <th>role</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i< Users.length; i++){ %>
        <tr>
            <td><%= (i+1) %></td>
            <td><%= Users[i].name %></td>
            <td><%= Users[i].firstname %></td>
            <td><%= Users[i].email %></td>
            <td><%= Users[i].password %></td>
            <td><%= Users[i].role %></td>
            <td><a href="/admin/usersPC/kick/<%= Users[i].idUsers %>">Ban (will trigger the loss of all data relative to this row)</a></td>
        </tr>
        <% } %>
    </tbody>
</table>
<%  } %>
<% else if ( Search_results !== []){ %>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>firstname</th>
                <th>email</th>
                <th>password</th>
                <th>role</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= Search_results.idUsers %></td>
                <td><%= Search_results.name %></td>
                <td><%= Search_results.firstname %></td>
                <td><%= Search_results.email %></td>
                <td><%= Search_results.password %></td>
                <td><%= Search_results.role %></td>
                <td><a href="/admin/usersPC/kick/<%= Search_results.idUsers %>">Ban (will trigger the loss of all data relative to this row)</a></td>
            </tr>
            <% } %>
        </tbody>
    </table>
<% } %>