<% include ./nav_admin %>

<h1>Challenges'Controls</h1>

<section>
    <h2>Implement a new challenge</h2>
    <form action="/admin/challengesPC/add" method=post>
        <div class=form-group>
        <label for="title">title</label>
        <input id=title name=title type=text>
        </div>
        <div class=form-group>
        <label for="description">description</label>
        <textarea id=description name=description></textarea>
        </div>
        <button type=submit>Add challenge</button>

    </form>
</section>
<section>
<h2>Review the current list of challenges</h2>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for(var i= 0; i< Challenges.length; i++){ %>
        <tr>
            <td>(i+1)</td>
            <td><%= Challenges[i].title %> </td>
            <td><%= Challenges[i].description %> </td>
            <th><a href="/admin/challengesPC/edit/<%= Challenges[i].idChallenges %>">edit</a></th>
            <th><a href="/admin/challengesPC/remove/<%= Challenges[i].idChallenges %>">remove</a></th>
        </tr>
        <% } %>
    </tbody>
</table>
</section>