<% include ./nav_admin %>

<h1>Welcome Admin
    </h1>
<h2>beware of your actions, cause the data you are going to mess with...</h2>
    <a href=/admin/challengesPC>Users'controls</a>
    <a href=/admin/usersPC>Challenges'controls</a>