<% include ./nav_admin %>

<section>
        <h2>Edit a challenge</h2>
        <form action="/admin/challengesPC/edit/<%= idChallenges %>" method=post>
            <div class=form-group>
            <label for="title">title</label>
            <input id=title name=title type=text value= '<%= Challenge_targeted.title %>'>
            </div>
            <div class=form-group>
            <label for="description">description</label>
            <textarea id=description name=description>
                <%= Challenge_targeted.description %>
            </textarea>
            </div>
            <button type=submit>Edit challenge !old data will be lost!</button>
    
        </form>
</section>