<% include ./nav %>

<main>
    <h1>
        Take action today
    </h1>
    <h2>Challenge yourself and the world</h2>

    <% for (var i =0; i < Challenges.length; i++){ %>
    <section>
        <div>
            <h3><%= Challenges[i].title %></h3>
            <p><%= Challenges[i].description %></p>
            <div>
            <p>number of participants: <%= Global_memory %></p>
            <a href="/home/activity_monitor/join/<%= Challenges[i].idChallenges  %>">Join them</a>
            </div>
        </div>
        <div>
            <h3>Tips</h3>
            <p><%= Tips.text %></p>
            <a href="/home/tips/offer">Offer tips</a>

        </div>
    </section>
    <hr>
    <% } %>
</main>