<h1>Appli name
</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolores ipsum est eum doloremque quasi magnam quo quod aspernatur molestiae, a obcaecati quia aliquam deserunt inventore quos sed ab laboriosam
</p>
<a href=/register>Register</a>
<a href=/sign_in>Sign in</a>