<nav>
    <a href="/home"><img src="https://images.unsplash.com/photo-1546471180-335a013cb87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></a>
    <div>
    <img src="https://images.unsplash.com/photo-1463436755683-3f805a9d1192?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
    <a href="/profile">profile</a>
    <a href="/sign_out">sign out</a>
    </div>
</nav>