<nav>
        <a href="/admin"><img src="https://images.unsplash.com/photo-1546471180-335a013cb87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></a>
        <p>You are currently logged in as an admin, watch out for any operation involving data manipulation</p>
        <div>
        <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
        <a href="/sign_out">sign out</a>
        </div>
    </nav>