<% include ./nav %>

<h1>You are rocking it</h1>
<% var fruits= ['fraise', 'pomme', 'citron', 'poire', 'mirabelle'];
for (var i=0; i< fruits.length; i++){%>
    <div><%= fruits[i]%></div>
<%}%>
<% for (var i=0; i< Global_memory.length; i++){%>
    <div>
        <h2> <%= Challenges[Global_memory[i].fk_idChallenges].title %></h2> 
        <p> <%= Challenges[Global_memory[i].fk_idChallenges].description %> </p> 
        <div>
            Status: <%= Global_memory[i].status %>
            <form action="/profile/activities/edit/<%=Global_memory[i].fk_idChallenges%>" method=post>
                <label>
                    Change status:
                </label>
                 
                 <label for =status></label>
                 <select id= status name=status>
                     <option value= ongoing> ongoing </option>
                     <option value= completed>completed</option>
                     <option value= aborted >aborted</option>
                 </select>
                 <button type=submit>Submit change</button>
             </form> 
             <a href="">Inspire others, share your involvement</a>
        </div>
    </div>
    <hr>
<%}%>