<div class="row m-t5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1>Create an account</h1>
            <form action="/register" method=post>
                <div class="form-group">
                    <label for='name'>Name:</label>
                    <input id=name type=text name=name class=form-control required>
                </div>
                <div class="form-group">
                    <label for='firstname'>Firstname:</label>
                    <input id=firstname type=text name=firstname class=form-control required>
                </div>
                <div class="form-group">
                    <label for='mail'>E-mail:</label>
                    <input id=mail type=e-mail name=mail class=form-control required>
                </div>
                <div class="form-group">
                        <label for='password'>Password:</label>
                        <input id=password type=password name=password class=form-control required>
                </div>
                <div class="form-group">
                        <label for='password_check'>Confirm password:</label>
                        <input id='password_check' type=password name=password_check class=form-control required>
                </div>
                <% let mistake_two= user_alerts.filter(mistake => alert_two > -1);
                if (mistake_two !== ''){ %>
                
                <div><%= mistake_two %></div>
                <% } %>

                <% let mistake_one= user_alerts.filter(mistake => alert_one > -1);
                    if (mistake_one !== ''){ %>
                    
                     <div><%= mistake_one %></div>
                <% } %>
                <button typ=submit>Register</button>
                <p>Already have an account?<a href="/sign_in">Sign in</a></p>
            </form>
        </div>
    </div>
</div>