<div class="row m-t5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1>Get full access to the app</h1>
                <form action="/sign_in" method=post>
                    <div class="form-group">
                        <label for='mail'>E-mail:</label>
                        <input id=mail type=email name=mail class=form-control required>
                    </div>
                    <div class="form-group">
                            <label for='password'>Password:</label>
                            <input id=password type=password name=password class=form-control required>
                    </div>

                    <button typ=submit>Sign in</button>
                    <p>If you don't have an account...<a href="/register">Register</a></p>
                </form>
            </div>
        </div>
    </div>